<!DOCTYPE HTML>

<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/app.css' />
  </head>
  <body>
    <form method='POST' action='/countries' class='details'>
      <label for= 'name'>Country: <input type='text' name='name' id='name'></label><br>
      <label for= 'flag'> Flag: <input type='text' name='flag'></label><br>
      <label for= 'capital'>Capital: <input type='text' name='capital'></label><br>
      <label for= 'population'>Population: <input type='text' name='population'></label><br>
      <br><input type="submit" value="Create">
    </form>
    <br>
    <a href='/countries'>back to your list of countries</a><br>
  </body>
</html>